evidence/lead_capture_20260610/integration_webhooks_final_verified_blueprint_after_leadid_guard.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2320299,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Happy Faces LA Lead Capture Production Rotated"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": null,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 8912604
                            },
                            "mapper": {
                                "to": [
                                    "info@happyfacesla.com"
                                ],
                                "from": "\"Happy Faces LA\" <info@happyfacesla.com>",
                                "content": "<h2>New Happy Faces LA Lead</h2>\r\n\r\n<p><strong>Name:</strong> {{1.lead.first_name}} {{1.lead.last_name}}</p>\r\n<p><strong>Phone:</strong> {{1.lead.phone}}</p>\r\n<p><strong>Email:</strong> {{1.lead.email}}</p>\r\n\r\n<hr>\r\n\r\n<p><strong>Event date:</strong> {{1.lead.event_date}}</p>\r\n<p><strong>Event time:</strong> {{1.lead.event_start_time}}</p>\r\n<p><strong>Event city:</strong> {{1.lead.event_city}}</p>\r\n<p><strong>Event type:</strong> {{1.lead.event_type}}</p>\r\n<p><strong>Estimated guest count:</strong> {{1.lead.estimated_guest_count}}</p>\r\n<p><strong>Children count:</strong> {{1.lead.children_count_optional}}</p>\r\n<p><strong>Services requested:</strong> {{join(1.lead.services_requested; \", \")}}</p>\r\n<p><strong>Budget range:</strong> {{1.lead.budget_range}}</p>\r\n\r\n<p><strong>Message:</strong><br>{{1.lead.message}}</p>\r\n\r\n<hr>\r\n\r\n<p><strong>Source page:</strong> {{1.lead.source_page}}</p>\r\n<p><strong>UTM source:</strong> {{1.lead.utm_source}}</p>\r\n<p><strong>UTM medium:</strong> {{1.lead.utm_medium}}</p>\r\n<p><strong>UTM campaign:</strong> {{1.lead.utm_campaign}}</p>\r\n<p><strong>UTM term:</strong> {{1.lead.utm_term}}</p>\r\n<p><strong>UTM content:</strong> {{1.lead.utm_content}}</p>\r\n<p><strong>GCLID:</strong> {{1.lead.gclid}}</p>\r\n<p><strong>FBCLID:</strong> {{1.lead.fbclid}}</p>\r\n<p><strong>MSCLKID:</strong> {{1.lead.msclkid}}</p>\r\n\r\n<hr>\r\n\r\n<p><strong>Lead ID:</strong> {{1.leadId}}</p>\r\n<p><strong>Submitted at:</strong> {{1.submittedAt}}</p>",
                                "subject": "New Happy Faces LA Lead",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "\"Happy Faces LA\" <info@happyfacesla.com>"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "happyfcesla@gmail.com (happyfcesla@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8912669
                            },
                            "filter": null,
                            "mapper": {
                                "from": "drive",
                                "filter": [
                                    [
                                        {
                                            "a": "B",
                                            "b": "{{1.leadId}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "sheetId": "Leads",
                                "sortOrder": "asc",
                                "spreadsheetId": "1_M3uzPG-VVgkjoklbfeVo462w16Ycqz830vDtK_Fuj0",
                                "tableFirstRow": "A1:CZ1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -300
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Leads"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Happy Faces LA Leads"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (happyfcesla@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Created At (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Lead ID (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "First Name (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Last Name (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Phone (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Email (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Event Date (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "Event Time (H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "Event City (I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "Event Type (J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "Estimated Guest Count (K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "Children Count (L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "Services Requested (M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "Budget Range (N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "Message (O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "Source Page (P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "UTM Source (Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "UTM Medium (R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "UTM Campaign (S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "UTM Term (T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "UTM Content (U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "GCLID (V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "FBCLID (W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "MSCLKID (X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    },
                                    {
                                        "name": "26",
                                        "type": "text",
                                        "label": "(AA)"
                                    },
                                    {
                                        "name": "27",
                                        "type": "text",
                                        "label": "(AB)"
                                    },
                                    {
                                        "name": "28",
                                        "type": "text",
                                        "label": "(AC)"
                                    },
                                    {
                                        "name": "29",
                                        "type": "text",
                                        "label": "(AD)"
                                    },
                                    {
                                        "name": "30",
                                        "type": "text",
                                        "label": "(AE)"
                                    },
                                    {
                                        "name": "31",
                                        "type": "text",
                                        "label": "(AF)"
                                    },
                                    {
                                        "name": "32",
                                        "type": "text",
                                        "label": "(AG)"
                                    },
                                    {
                                        "name": "33",
                                        "type": "text",
                                        "label": "(AH)"
                                    },
                                    {
                                        "name": "34",
                                        "type": "text",
                                        "label": "(AI)"
                                    },
                                    {
                                        "name": "35",
                                        "type": "text",
                                        "label": "(AJ)"
                                    },
                                    {
                                        "name": "36",
                                        "type": "text",
                                        "label": "(AK)"
                                    },
                                    {
                                        "name": "37",
                                        "type": "text",
                                        "label": "(AL)"
                                    },
                                    {
                                        "name": "38",
                                        "type": "text",
                                        "label": "(AM)"
                                    },
                                    {
                                        "name": "39",
                                        "type": "text",
                                        "label": "(AN)"
                                    },
                                    {
                                        "name": "40",
                                        "type": "text",
                                        "label": "(AO)"
                                    },
                                    {
                                        "name": "41",
                                        "type": "text",
                                        "label": "(AP)"
                                    },
                                    {
                                        "name": "42",
                                        "type": "text",
                                        "label": "(AQ)"
                                    },
                                    {
                                        "name": "43",
                                        "type": "text",
                                        "label": "(AR)"
                                    },
                                    {
                                        "name": "44",
                                        "type": "text",
                                        "label": "(AS)"
                                    },
                                    {
                                        "name": "45",
                                        "type": "text",
                                        "label": "(AT)"
                                    },
                                    {
                                        "name": "46",
                                        "type": "text",
                                        "label": "(AU)"
                                    },
                                    {
                                        "name": "47",
                                        "type": "text",
                                        "label": "(AV)"
                                    },
                                    {
                                        "name": "48",
                                        "type": "text",
                                        "label": "(AW)"
                                    },
                                    {
                                        "name": "49",
                                        "type": "text",
                                        "label": "(AX)"
                                    },
                                    {
                                        "name": "50",
                                        "type": "text",
                                        "label": "(AY)"
                                    },
                                    {
                                        "name": "51",
                                        "type": "text",
                                        "label": "(AZ)"
                                    },
                                    {
                                        "name": "52",
                                        "type": "text",
                                        "label": "(BA)"
                                    },
                                    {
                                        "name": "53",
                                        "type": "text",
                                        "label": "(BB)"
                                    },
                                    {
                                        "name": "54",
                                        "type": "text",
                                        "label": "(BC)"
                                    },
                                    {
                                        "name": "55",
                                        "type": "text",
                                        "label": "(BD)"
                                    },
                                    {
                                        "name": "56",
                                        "type": "text",
                                        "label": "(BE)"
                                    },
                                    {
                                        "name": "57",
                                        "type": "text",
                                        "label": "(BF)"
                                    },
                                    {
                                        "name": "58",
                                        "type": "text",
                                        "label": "(BG)"
                                    },
                                    {
                                        "name": "59",
                                        "type": "text",
                                        "label": "(BH)"
                                    },
                                    {
                                        "name": "60",
                                        "type": "text",
                                        "label": "(BI)"
                                    },
                                    {
                                        "name": "61",
                                        "type": "text",
                                        "label": "(BJ)"
                                    },
                                    {
                                        "name": "62",
                                        "type": "text",
                                        "label": "(BK)"
                                    },
                                    {
                                        "name": "63",
                                        "type": "text",
                                        "label": "(BL)"
                                    },
                                    {
                                        "name": "64",
                                        "type": "text",
                                        "label": "(BM)"
                                    },
                                    {
                                        "name": "65",
                                        "type": "text",
                                        "label": "(BN)"
                                    },
                                    {
                                        "name": "66",
                                        "type": "text",
                                        "label": "(BO)"
                                    },
                                    {
                                        "name": "67",
                                        "type": "text",
                                        "label": "(BP)"
                                    },
                                    {
                                        "name": "68",
                                        "type": "text",
                                        "label": "(BQ)"
                                    },
                                    {
                                        "name": "69",
                                        "type": "text",
                                        "label": "(BR)"
                                    },
                                    {
                                        "name": "70",
                                        "type": "text",
                                        "label": "(BS)"
                                    },
                                    {
                                        "name": "71",
                                        "type": "text",
                                        "label": "(BT)"
                                    },
                                    {
                                        "name": "72",
                                        "type": "text",
                                        "label": "(BU)"
                                    },
                                    {
                                        "name": "73",
                                        "type": "text",
                                        "label": "(BV)"
                                    },
                                    {
                                        "name": "74",
                                        "type": "text",
                                        "label": "(BW)"
                                    },
                                    {
                                        "name": "75",
                                        "type": "text",
                                        "label": "(BX)"
                                    },
                                    {
                                        "name": "76",
                                        "type": "text",
                                        "label": "(BY)"
                                    },
                                    {
                                        "name": "77",
                                        "type": "text",
                                        "label": "(BZ)"
                                    },
                                    {
                                        "name": "78",
                                        "type": "text",
                                        "label": "(CA)"
                                    },
                                    {
                                        "name": "79",
                                        "type": "text",
                                        "label": "(CB)"
                                    },
                                    {
                                        "name": "80",
                                        "type": "text",
                                        "label": "(CC)"
                                    },
                                    {
                                        "name": "81",
                                        "type": "text",
                                        "label": "(CD)"
                                    },
                                    {
                                        "name": "82",
                                        "type": "text",
                                        "label": "(CE)"
                                    },
                                    {
                                        "name": "83",
                                        "type": "text",
                                        "label": "(CF)"
                                    },
                                    {
                                        "name": "84",
                                        "type": "text",
                                        "label": "(CG)"
                                    },
                                    {
                                        "name": "85",
                                        "type": "text",
                                        "label": "(CH)"
                                    },
                                    {
                                        "name": "86",
                                        "type": "text",
                                        "label": "(CI)"
                                    },
                                    {
                                        "name": "87",
                                        "type": "text",
                                        "label": "(CJ)"
                                    },
                                    {
                                        "name": "88",
                                        "type": "text",
                                        "label": "(CK)"
                                    },
                                    {
                                        "name": "89",
                                        "type": "text",
                                        "label": "(CL)"
                                    },
                                    {
                                        "name": "90",
                                        "type": "text",
                                        "label": "(CM)"
                                    },
                                    {
                                        "name": "91",
                                        "type": "text",
                                        "label": "(CN)"
                                    },
                                    {
                                        "name": "92",
                                        "type": "text",
                                        "label": "(CO)"
                                    },
                                    {
                                        "name": "93",
                                        "type": "text",
                                        "label": "(CP)"
                                    },
                                    {
                                        "name": "94",
                                        "type": "text",
                                        "label": "(CQ)"
                                    },
                                    {
                                        "name": "95",
                                        "type": "text",
                                        "label": "(CR)"
                                    },
                                    {
                                        "name": "96",
                                        "type": "text",
                                        "label": "(CS)"
                                    },
                                    {
                                        "name": "97",
                                        "type": "text",
                                        "label": "(CT)"
                                    },
                                    {
                                        "name": "98",
                                        "type": "text",
                                        "label": "(CU)"
                                    },
                                    {
                                        "name": "99",
                                        "type": "text",
                                        "label": "(CV)"
                                    },
                                    {
                                        "name": "100",
                                        "type": "text",
                                        "label": "(CW)"
                                    },
                                    {
                                        "name": "101",
                                        "type": "text",
                                        "label": "(CX)"
                                    },
                                    {
                                        "name": "102",
                                        "type": "text",
                                        "label": "(CY)"
                                    },
                                    {
                                        "name": "103",
                                        "type": "text",
                                        "label": "(CZ)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 2,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8912669
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.`__IMTLENGTH__`}}",
                                            "o": "number:equal",
                                            "b": "0"
                                        },
                                        {
                                            "a": "{{1.leadId}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.submittedAt}}",
                                    "1": "{{1.leadId}}",
                                    "2": "{{1.lead.first_name}}",
                                    "3": "{{1.lead.last_name}}",
                                    "4": "{{1.lead.phone}}",
                                    "5": "{{1.lead.email}}",
                                    "6": "{{1.lead.event_date}}",
                                    "7": "{{1.lead.event_start_time}}",
                                    "8": "{{1.lead.event_city}}",
                                    "9": "{{1.lead.event_type}}",
                                    "10": "{{1.lead.estimated_guest_count}}",
                                    "11": "{{1.lead.children_count_optional}}",
                                    "12": "{{join(1.lead.services_requested; \", \")}}",
                                    "13": "{{1.lead.budget_range}}",
                                    "14": "{{1.lead.message}}",
                                    "15": "{{1.lead.source_page}}",
                                    "16": "{{1.lead.utm_source}}",
                                    "17": "{{1.lead.utm_medium}}",
                                    "18": "{{1.lead.utm_campaign}}",
                                    "19": "{{1.lead.utm_term}}",
                                    "20": "{{1.lead.utm_content}}",
                                    "21": "{{1.lead.gclid}}",
                                    "22": "{{1.lead.fbclid}}",
                                    "23": "{{1.lead.msclkid}}"
                                },
                                "sheetId": "Leads",
                                "spreadsheetId": "/1_M3uzPG-VVgkjoklbfeVo462w16Ycqz830vDtK_Fuj0",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -300
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Leads"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Happy Faces LA Leads"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "useColumnHeaders": {
                                            "label": "No",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Created At (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Lead ID (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "First Name (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Last Name (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Phone (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Email (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Event Date (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Event Time (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Event City (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Event Type (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Estimated Guest Count (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Children Count (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Services Requested (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Budget Range (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "Message (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "Source Page (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "UTM Source (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "UTM Medium (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "UTM Campaign (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "UTM Term (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "UTM Content (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "GCLID (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "FBCLID (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "MSCLKID (X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values in columns",
                                                    "metadata": [
                                                        [
                                                            [
                                                                "Created At",
                                                                "Lead ID",
                                                                "First Name",
                                                                "Last Name",
                                                                "Phone",
                                                                "Email",
                                                                "Event Date",
                                                                "Event Time",
                                                                "Event City",
                                                                "Event Type",
                                                                "Estimated Guest Count",
                                                                "Children Count",
                                                                "Services Requested",
                                                                "Budget Range",
                                                                "Message",
                                                                "Source Page",
                                                                "UTM Source",
                                                                "UTM Medium",
                                                                "UTM Campaign",
                                                                "UTM Term",
                                                                "UTM Content",
                                                                "GCLID",
                                                                "FBCLID",
                                                                "MSCLKID"
                                                            ]
                                                        ]
                                                    ]
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (happyfcesla@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Created At (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Lead ID (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "First Name (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Last Name (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Phone (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Email (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Event Date (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Event Time (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Event City (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Event Type (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Estimated Guest Count (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Children Count (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Services Requested (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Budget Range (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "Message (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "Source Page (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "UTM Source (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "UTM Medium (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "UTM Campaign (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "UTM Term (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "UTM Content (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "GCLID (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "FBCLID (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "MSCLKID (X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Created At",
                                                    "Lead ID",
                                                    "First Name",
                                                    "Last Name",
                                                    "Phone",
                                                    "Email",
                                                    "Event Date",
                                                    "Event Time",
                                                    "Event City",
                                                    "Event Type",
                                                    "Estimated Guest Count",
                                                    "Children Count",
                                                    "Services Requested",
                                                    "Budget Range",
                                                    "Message",
                                                    "Source Page",
                                                    "UTM Source",
                                                    "UTM Medium",
                                                    "UTM Campaign",
                                                    "UTM Term",
                                                    "UTM Content",
                                                    "GCLID",
                                                    "FBCLID",
                                                    "MSCLKID"
                                                ]
                                            ]
                                        ]
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 4,
                        "module": "placeholder:Placeholder",
                        "filter": null,
                        "metadata": {
                            "designer": {
                                "x": 376,
                                "y": 110
                            }
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
